{% load static %}
<footer class="site-footer border-top">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <p>
                    Contact Developer |
                    <a href="https://github.com/DelroyBrown28" target="_blank">
                        <i class="fab fa-github-alt"></i>
                    </a>
                    <a href="https://www.instagram.com/delroyjbrown/" target="_blank" class="ml-3">
                        <i class="fab fa-instagram"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>


<script src="text/javascript">
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>